<div id="search">
		<%= form_tag homes_path, :method => 'get', id: 'inputs' do %>
    	<%= text_field_tag :citystatezip, nil, placeholder: 'Enter a city and state, or zipcode' %>
    	<%= submit_tag "Submit" %>
<% end %>
		</div>