<div id="main">
	<section id="topsection">
		<div id="search">
			SEARCH BAR
		</div>
		<div id="video">
			VIDEO WILL GO HERE
		</div>
		<div id="formula">
			FORMULA CALCULATOR
		</div>
	</section>
	<hr>
	<section id="middleseciont">
		<article>
			HOT MARKETS
		</article>
		<br>
		<article>
			RISKS OF FLIPPING
		</article>
	</section>
	<hr>
	<section id="bottomsection">
		<p>MORE INFO</p>
		<p>MORE INFO</p>
		<p>MORE INFO</p>
	</section>

</div>

