<div class="container-fluid">
	
	<div class="row">
		<div class="col-md-4">
			<h2>Real Estate Guides</h2>
			The BiggerPockets Ultimate Beginner’s Guide to Real Estate Investing
			How to Rent Your House
			Guide to Real Estate Negotiation
			Private Money Lenders: Who They Are & How to Find Them
		</div>

		<div class="col-md-4">
			<h2>Real Estate Tools</h2>
			Real Estate Podcasts
			Credit Reports, Scores & FICO
			Find House Values & Comps
			Mortgage Calculator
			Real Estate Abbreviations
			Real Estate Glossary
			Record Searches & RE Law
		</div>

		<div class="col-md-4">
			<h2>Foreclosure Resources</h2>
			The Foreclosure Process
			Where to Find Foreclosures
			Bank Owned REO Listings
			Pre-Foreclosures
			Government Foreclosures
			REO Asset Management
			State Foreclosure Laws
		</div>


		<div class="col-md-4">
			<h2>Investor Studies & Research:</h2>
			Joint BiggerPockets.com / Memphis Invest National Survey of Residential Real Estate Investors 9/2012
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Locate Properties</h2>
			Locate Properties
			Commercial Real Estate
			Farm & Land Resources
			Land & Property Auctions
		</div>
		<div class="col-md-4">		
			<h2>Assorted Resources</h2>
			Real Estate Analysis Software
			Local Real Estate Clubs
			Guide to 1031 Exchanges
			CashFlow 101/202 Clubs
			Real Estate Public Records
			FSBOs & Foreign Real Estate
			Maps & Mapping Services
			Real Estate Interviews
			Real Estate Corporation & LLC Info
			Real Estate Colleges & Universities
			Real Estate Magazines
		</div>
		<div class="col-md-4">
			<h2>Blogs</h2>
			Top 35 Real Estate Blogs
			The Top 20 Real Estate Investing Blogs
		</div>
	</div>
</div>