<div id="wrapperA">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h2>Real Estate Guides</h2>
			<a href="">The BiggerPockets Ultimate Beginner’s Guide to Real Estate Investing</a><br>
			<a href="">How to Rent Your House</a><br>
			<a href="">Guide to Real Estate Negotiation</a><br>
			<a href="">Private Money Lenders: Who They Are & How to Find Them</a><br>
		</div>
		<div class="col-md-4">
			<h2>Real Estate Tools</h2>
			<a href="">Real Estate Podcasts</a><br>
			<a href="">Credit Reports, Scores & FICO</a><br>
			<a href="">Find House Values & Comps</a><br>
			<a href="">Mortgage Calculator</a><br>
			<a href="">Real Estate Abbreviations</a><br>
			<a href="">Real Estate Glossary</a><br>
			<a href="">Record Searches & RE Law</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Foreclosure Resources</h2>
			<a href="">The Foreclosure Process</a><br>
			<a href="">Where to Find Foreclosures</a><br>
			<a href="">Bank Owned REO Listings</a><br>
			<a href="">Pre-Foreclosures</a><br>
			<a href="">Government Foreclosures</a><br>
			<a href="">REO Asset Management</a><br>
			<a href="">State Foreclosure Laws</a>
		</div>
		<div class="col-md-4">		
			<h2>Assorted Resources</h2>
			<a href="">Real Estate Analysis Software</a><br>
			<a href="">Local Real Estate Clubs</a><br>
			<a href="">Guide to 1031 Exchanges</a><br>
			<a href="">CashFlow 101/202 Clubs</a><br>
			<a href="">Real Estate Public Records</a><br>
			<a href="">FSBOs & Foreign Real Estate</a><br>
			<a href="">Maps & Mapping Services</a><br>
			<a href="">Real Estate Interviews</a><br>
			<a href="">Real Estate Corporation & LLC Info</a><br>
			<a href="">Real Estate Colleges & Universities</a><br>
			<a href="">Real Estate Magazines</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Locate Properties</h2>
			<a href="">Locate Properties</a><br>
			<a href="">Commercial Real Estate</a><br>
			<a href="">Farm & Land Resources</a><br>
			<a href="">Land & Property Auctions</a>
		</div>
		
		<div class="col-md-4">
			<h2>Blogs</h2>
			<a href="">Top 35 Real Estate Blogs</a><br>
			<a href="">The Top 20 Real Estate Investing Blogs</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Investor Studies & Research:</h2>
			<a href="">Joint BiggerPockets.com / Memphis Invest National Survey of Residential Real Estate Investors 9/2012</a>
		</div>	
	</div>
</div>
</div>