/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import 'bootstrap-custom';
@import 'bourbon';
@import 'forms';
@import 'nav';
@import 'main';

html, body, p, hr, ul, nav {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
	display: inline-block;
	padding: 15px;
	
}


nav {
	width: 95%;
	margin:0 auto;
}

#login {
	text-align: right;
	list-style: none;
	margin-right: 10px;
	font-size: 15px;
	color: black;
}

#login a {
	color: black;
}
#logo {
	font-size: 40px;
	margin-left: 20px;
	padding-top: 20px;
	font-family: 'Condara';

}

#logo a {
	text-decoration: none;
	color: black;
}

#logo a:hover {
	text-decoration: none;
	color: black;
	background-color: orange;
}
#header {
	z-index: 5;
	background-color: orange;
	position: fixed;
	width: 100%;
	top:0;

}

#navset {
	width: 100%;
	overflow: auto;
	background-color: orange;
	height: 55px;
}

#main {
	clear: both;
}

#buffer {
	padding-top: 155px;
}


