
<h1>Foreclosure Trends</h1>

<iframe name='ifrm' 
		class='embedcodeifrm' 
		id='ifrm' 
		height='740' 
		marginHeight='0' 
		src='http://www.realtytrac.com/StatsAndTrends/EmbedRTChart/ForeclosureRates_national:US' frameBorder='3' 
		width='640' 
		marginWidth='0' 
		scrolling='no'>
</iframe>

<br/>

<iframe name='ifrm' 
		class='embedcodeifrm' 
		id='ifrm' 
		height='540' 
		marginHeight='0' 
		src='http://www.realtytrac.com/StatsAndTrends/EmbedRTChart/ForeclosureStatusDistribution_national:US' frameBorder='1' 
		width='640' 
		marginWidth='0' 
		scrolling='no'>
</iframe>

<br/>

<iframe name='ifrm' 
		class='embedcodeifrm' 
		id='ifrm' 
		height='540' 
		marginHeight='0' 
		src='http://www.realtytrac.com/StatsAndTrends/EmbedRTChart/ForeclosureFilings_national:US' frameBorder='1' 
		width='640' 
		marginWidth='0' 
		scrolling='no'>
</iframe>


<iframe name='ifrm' 
		class='embedcodeifrm' 
		id='ifrm' 
		height='540' 
		marginHeight='0' 
		src='http://www.realtytrac.com/StatsAndTrends/FCActivityEmbedRTChart/ForeclosureActivity_national:US' 
		frameBorder='1' 
		width='640' 
		marginWidth='0' 
		scrolling='no'>
</iframe>


<h2>Market Trends</h2>


<iframe name='ifrm' 
		class='embedcodeifrm' 
		id='ifrm' 
		height='540' 
		marginHeight='0' 
		src='http://www.realtytrac.com/StatsAndTrends/EmbedRTChart/SalesPrices_national:US' frameBorder='1' 
		width='640' 
		marginWidth='0' 
		scrolling='no'>
</iframe>


